<!DOCTYPE html>
<html>
  <head>
    <title>Flightplan Forecasting</title>
    <style type="text/css">
      html, body, #page {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map-canvas {
        z-index: 0;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #controls {
        z-index: 100;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 340px;
        background-color: rgba(100,100,100,0.8);
      }
      #controls li {
        list-style-type: none;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMvK6Yy7j7JS-_FIw9u6uqFvy2AzctYe8&libraries=geometry">
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script type="text/javascript" src="lib/backbone-min.js"></script>

    <script type="text/javascript" src="app/models.js"></script>
    <script type="text/javascript" src="app/views.js"></script>
    <script type="text/javascript">
      window.onload = function() {
        var coords = { lat: 36.002, lng: -78.906},  // Durham, NC. Got to start somewhere.
            zoom = 8;
        var map = new MapView({
          el: "#page",
          center: coords,
          zoom: zoom,
          model: new FlightPlan(),
        });
        map.render();
      }
    </script>
    <script type="text/template" id="input_controls">

      <form id="nav">
        <ul>
          <li>
            <label>Origin (lat,lng):</label>
            <input name="origin" type="text"/>
          </li>
          <li>
            <label>Destination (lat,lng):</label>
            <input name="destination" type="text"/>
          </li>
          <li>
            <label>Speed (mph):</label>
            <input name="speed" type="text"/>
          </li>
          <li>
            <label>Update interval (in hours):</label>
            <input name="forecast interval (hours)" type="text"/>
          </li>
          <li>
            <input type="submit" value="Get forecast"/>
          </li>
        </ul>
      </form>
    </script>
    <script type="text/template" id="forecast_controls">
      <span>
      <% if ( !isFirst ){ %>
      <a href="#" id="prev">Previous</a>
      <% } %>
      <strong>Location</strong>:  <%= lat %>,<%= lng %></h3>
      <% if ( !isLast ){ %>
      <a href="#" id="next">Next</a>
      <% } %>
      </span>
      <ul>
        <li>Temperature: <%= temperature %></li>
        <li>Humidity: <%= temperature %></li>
        <li>Wind: <%= windSpeed %> at a bearing of <%= windBearing %></li>
        <% if ( precipType ){ %>
          <li>Precipitation: <%= precipProbability %> chance of <%= precipType %></li>
        <% } %>
      </ul>
      <a href="#" id="reset">New route</a>
    </script>
  </head>
  <body>
    <div id="page">
      <div id="controls">
      </div>
      <div id="map-canvas"></div>
    </div>
  </body>
</html>
